@font-face {
  font-family: "Circular-Black";
  src: url("../../assets/fonts/CircularStd-Black.woff2") format("woff2"),
    url("../../assets/fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../../assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("../../assets/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../../assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../../assets/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular-Book";
  src: url("../../assets/fonts/CircularStd-Book.woff2") format("woff2"),
    url("../../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
